<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Horizons - Australian Hosting Solutions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Horizons is an Australian gaming community hosting servers for everyone. We've been hosting quality servers for our community since 2019, we're now prepared to rent the same high quality servers to you guys with our own unique web panel developed by us! Developing and managing your servers couldn't be easier, we've added all the features we wanted to see in web panels making the whole experience feel premium." />
        <meta name="theme-color" content="#4eccfa">
        <meta property="og:image"  content="/assets/images/logo-sm-light.png">
        <meta property="twitter:card"  content="/assets/images/logo-light.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="keywords" content="horizons, australian hosting, game servers, dedicated servers">

        <!-- App favicon -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/assets_landing/css/bootstrap.min.css" type="text/css">

        <!--Material Icon -->
        <link rel="stylesheet" type="text/css" href="/assets_landing/css/materialdesignicons.min.css" />

        <!-- Custom  sCss -->
        <link rel="stylesheet" type="text/css" href="/assets_landing/css/style.css" />

    </head>

    <body>

        <!--Navbar Start-->
        <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark">
            <div class="container-fluid">
                <!-- LOGO -->
                <a class="logo text-uppercase" style="cursor: pointer;" onclick="rickroll()">
                    <img src="/assets_landing/images/logo-light.png" alt="" class="logo-light" height="21" />
                    <img src="/assets_landing/images/logo-dark.png" alt="" class="logo-dark" height="21" />
                    <script>
                        function rickroll() {
                            window.location.href = "https://www.youtube.com/watch?v=iik25wqIuFo"
                        }
                    </script>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
                        <li class="nav-item active">
                            <a href="#home" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#status" class="nav-link">Live Stats</a>
                        </li>
                        <li class="nav-item">
                            <a href="#pricing" class="nav-link">Patreon</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link">Contact</a>
                        </li>
                    </ul>
                <button class="btn btn-info navbar-btn" style="background-color: #5297ff; border-color: #5297ff; font-weight: 650;" onclick="window.location.href='<%= locals.user ? `/dashboard` : `/login` %>'"><%= locals.user ? `Dashboard` : `Login` %></button>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <!-- home start -->
        <section class="bg-home bg-gradient" id="home" style="background-image: url('/assets_landing/images/space.gif'); background-repeat: repeat; background-size: 1950px; background-position: center;">
            <div class="home-center">
                <div class="home-desc-center">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="home-title mo-mb-20">
                                    <h1 class="mb-4 text-white">Australian Hosting Solutions</h1>
                                    <p class="text-white home-desc mb-5" style="opacity: 80%;">Horizons is an Australian gaming community hosting servers for everyone.<br>We've been hosting quality servers for our community since 2019, we're now prepared to rent the same high quality servers to you guys with our own unique web panel developed by us!<br>Developing and managing your servers couldn't be easier, we've added all the features we wanted to see in web panels making the whole experience feel premium.</p>
                                    <div class="subscribe">
                                        <div class="row" style="margin-left: 0px;">
                                            <h3 class="mb-4 text-white" id="discordData">
                                                <div class="d-flex align-items-center">
                                                    <strong>Loading...</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <div style="width: 1.5rem; height: 1.5rem;" class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                                                </div>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 offset-xl-2 col-lg-5 offset-lg-1 col-md-7">
                                <div class="home-img position-relative" id="discord-embed">
                                    <iframe src="https://discord.com/widget?id=610606066451087370&theme=dark" width="350" height="400" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                                </div>
                                <style>
                                    @media only screen and (max-width: 1026px) {
                                        #discord-embed {
                                            display: none;
                                        }
                                    }
                                </style>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end container-fluid -->
                </div>
            </div>
        </section>
        <!-- home end -->

        <!-- clients start -->
        <section>
            <div class="container-fluid">
                <div class="clients p-4 bg-white">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="client-images">
                                <img src="/assets_landing/images/clients/3.png" alt="logo-img" class="mx-auto img-fluid d-block">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="client-images">
                                <img src="/assets_landing/images/clients/4.png" alt="logo-img" class="mx-auto img-fluid d-block">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="client-images">
                                <img src="/assets_landing/images/clients/3.png" alt="logo-img" class="mx-auto img-fluid d-block">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="client-images">
                                <img src="/assets_landing/images/clients/4.png" alt="logo-img" class="mx-auto img-fluid d-block">
                            </div>
                        </div>
                    </div> <!-- end row -->
                </div>
            </div> <!-- end container-fluid -->
        </section>
        <!-- clients end -->

        <!-- status start -->
        <section class="section-sm" id="status">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mb-4 pb-1">
                            <h3 class="mb-3">Live Stats</h3>
                            <p class="text-muted">We monitor all our Services 24/7</p>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-box">
                            <div class="features-img mb-4">
                                <img src="/assets_landing/images/icons/layers.png" alt="">
                            </div>
                            <h4 class="mb-2">Dedicated Servers</h4>
                            <p><b>Artemis</b> | <b id="artemisStats">Loading...</b></p>
                            <p><b>Ares</b> | <b id="aresStats">Loading...</b></p>
                            <p><b>Ceres</b> | <b id="ceresStats">Loading...</b></p>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-4">
                        <div class="features-box">
                            <div class="features-img mb-4">
                                <img src="/assets_landing/images/icons/solarsystem.png" alt="">
                            </div>
                            <h4 class="mb-3"><a href="/space-engineers">Space Engineers</a></h4>
                            <p><b id="AUSEStats">Loading...</b></p>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-4">
                        <div class="features-box">
                            <div class="features-img mb-4">
                                <img src="/assets_landing/images/icons/bomb.png" alt="">
                            </div>
                            <h4 class="mb-2"><a href="http://horizons.gg/squad">Squad</a></h4>
                            <p id="squadStats">Loading...</p>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="features-box">
                            <div class="features-img mb-4">
                                <img src="/assets_landing/images/icons/core.png" alt="">
                            </div>
                            <h4 class="mb-2"><a href="http://horizons.gg:3001">Eco</a></h4>
                            <p id="ecoStats">Loading...</p>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-4">
                        <div class="features-box">
                            <div class="features-img mb-4">
                                <img src="/assets_landing/images/icons/browserscript.png" alt="">
                            </div>
                            <h4 class="mb-3"><a href="/api">API</a></h4>
                            <p style="color: #34bb30; font-weight: 600;">Online</p>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-4">
                        <div class="features-box">
                            <div class="features-img mb-4">
                                <img src="/assets_landing/images/icons/paperdesk.png" alt="">
                            </div>
                            <h4 class="mb-2">TBD</h4>
                            <p class="text-muted">TBD</p>
                        </div>
                    </div>

                    <script>
                        async function refreshStats() {
                            
                            var data = await fetch('<%= locals.site.discord %>').then(res => res.json())

                            //
                            // Dedicated Servers
                            //

                            if (data.servers['10.0.0.1'].ping) {
                                artemisStats.innerHTML = `<b style="color: #34bb30; font-weight: 600;">Online</b> <b style="font-weight: 600;"> | ${data.servers['10.0.0.1'].ping}ms to Sydney</b>`
                            } else {
                                artemisStats.innerHTML = `<b style="color: #d42e2e; font-weight: 600;">Offline</b>`
                            }

                            if (data.servers['10.0.0.2'].ping) {
                                aresStats.innerHTML = `<b style="color: #34bb30; font-weight: 600;">Online</b> <b style="font-weight: 600;"> | ${data.servers['10.0.0.2'].ping}ms to Brisbane</b>`
                            } else {
                                aresStats.innerHTML = `<b style="color: #d42e2e; font-weight: 600;">Offline</b>`
                            }

                            if (data.servers['10.0.0.3'].ping) {
                                ceresStats.innerHTML = `<b style="color: #34bb30; font-weight: 600;">Online</b> <b style="font-weight: 600;"> | ${data.servers['10.0.0.3'].ping}ms to Brisbane</b>`
                            } else {
                                ceresStats.innerHTML = `<b style="color: #d42e2e; font-weight: 600;">Offline</b>`
                            }



                            //
                            // Game Servers
                            //

                            if (data.games.se) {
                                AUSEStats.innerHTML = `<b style="color: #34bb30; font-weight: 600;">Online</b> <b style="font-weight: 600;"> | ${data.games.se.raw.numplayers} / ${data.games.se.maxplayers} Players</b>`
                            } else {
                                AUSEStats.innerHTML = `<b style="color: #d42e2e; font-weight: 600;">Offline</b>`
                            }

                            if (data.games.eco.Description) {
                                ecoStats.innerHTML = `<b style="color: #34bb30; font-weight: 600;">Online</b> <b style="font-weight: 600;"> | ${data.games.eco.OnlinePlayers} / ${data.games.eco.TotalPlayers} Players</b>`
                            } else {
                                ecoStats.innerHTML = `<b style="color: #d42e2e; font-weight: 600;">Offline</b>`
                            }

                            if (data.games.squad.name) {
                                squadStats.innerHTML = `<b style="color: #34bb30; font-weight: 600;">Online</b> <b style="font-weight: 600;"> | ${data.games.squad.raw.numplayers} / ${data.games.squad.maxplayers} Players</b>`
                            } else {
                                squadStats.innerHTML = `<b style="color: #d42e2e; font-weight: 600;">Offline</b>`
                            }
                        } setInterval(refreshStats, 10000), refreshStats()


                        var discord = null
                        async function communityAge() {
                            if (!discord) discord = await fetch('<%= locals.site.discord %>/discord').then(res => res.json())

                            var horizonsAge = [0, 0, 0, 0, 0]
                            const firstDate = new Date(discord.createdTimestamp)
                            horizonsAge[0] = Math.round(Math.abs((firstDate - new Date()) / 1000))

                            while (horizonsAge[0] >= 60) {
                                horizonsAge[1] += 1
                                horizonsAge[0] -= 60
                            }

                            while (horizonsAge[1] >= 60) {
                                horizonsAge[2] += 1
                                horizonsAge[1] -= 60
                            }

                            while (horizonsAge[2] >= 24) {
                                horizonsAge[3] += 1
                                horizonsAge[2] -= 24
                            }

                            while (horizonsAge[3] >= 365) {
                                horizonsAge[4] += 1
                                horizonsAge[3] -= 365
                            }

                            const zeroPad = (num, places) => String(num).padStart(places, '0')
                            discordData.innerHTML = `Members: ${discord.memberCount || discord.approximateMemberCount}<br> Running for ${horizonsAge[4]} Years, ${horizonsAge[3]} Days, ${zeroPad(horizonsAge[2], 2)}:${zeroPad(horizonsAge[1], 2)}:${zeroPad(horizonsAge[0], 2)}`
                        } setInterval(communityAge, 1000), communityAge()

                    </script>

                    <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- end container-fluid -->
        </section>
        <!-- features end -->

        <!-- support start -->
        <section class="section pb-0 bg-gradient" id="pricing">
            <div class="bg-shape">
                <img src="/assets_landing/images/bg-shape.png" alt="" class="img-fluid mx-auto d-block">
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mb-4">
                            <h3 class="text-white">Support us on Patreon</h3>
                            <p class="text-white-50">As we're a non-profit Community we don't have that much funding to help us expand, by supporting us, you are helping get better server hardware and software!</p>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <div class="pricing-plan bg-white p-4 mt-4">
                                    <div class="pricing-header text-center">
                                        <h5 class="plan-title text-uppercase mb-4">Enhanced Supporter</h5>
                                        <h1><sup><small>$</small></sup>5</h1>
                                        <div class="plan-duration text-muted">American Dollars</div>
                                    </div>
                                    <ul class="list-unstyled pricing-list mt-4">
                                        <li>
                                            <i class="mdi mdi-album"></i>
                                            <p>Exclusive Content</p>
                                        </li>
                                        <li>
                                            <i class="mdi mdi-lifebuoy"></i>
                                            <p>Discord Roles & Channels<p>
                                        </li>
                                        <li>
                                            <i class="mdi mdi-history"></i>
                                            <p>Early Access</p>
                                        </li>
                                    </ul>
                                    <div class="text-center mt-5">
                                        <a href="https://www.patreon.com/join/corehorizons/checkout?rid=4187695" target="_blank" class="btn btn-primary">Support Us Now!</a>
                                    </div>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-lg-4">
                                <div class="pricing-plan active p-4 mt-4">
                                    <span class="lable">Popular</span>
                                    <div class="pricing-header text-white text-center">
                                        <h5 class="plan-title text-white text-uppercase mb-4">Elite Supporter</h5>
                                        <h1 class=" text-white"><sup><small>$</small></sup>35</h1>
                                        <div class="plan-duration">American Dollars</div>
                                    </div>
                                    <ul class="list-unstyled text-white pricing-list mt-4">
                                        <li>
                                            <i class="mdi mdi-album"></i>
                                            <p>Exclusive Content</p>
                                        </li>
                                        <li>
                                            <i class="mdi mdi-lifebuoy"></i>
                                            <p>Discord Roles & Channels<p>
                                        </li>
                                        <li>
                                            <i class="mdi mdi-history"></i>
                                            <p>Early Access</p>
                                        </li>
                                    </ul>
                                    <div class="text-center mt-5">
                                        <a href="https://www.patreon.com/join/corehorizons/checkout?rid=4309491" target="_blank" class="btn shadow btn-light">Support Us Now!</a>
                                    </div>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-lg-4">
                                <div class="pricing-plan bg-white p-4 mt-4">
                                    <div class="pricing-header text-center">
                                        <h5 class="plan-title text-uppercase mb-4">Proficient Supporter</h5>
                                        <h1><sup><small>$</small></sup>15</h1>
                                        <div class="plan-duration text-muted">American Dollars</div>
                                    </div>
                                    <ul class="list-unstyled pricing-list mt-4">
                                        <li>
                                            <i class="mdi mdi-album"></i>
                                            <p>Exclusive Content</p>
                                        </li>
                                        <li>
                                            <i class="mdi mdi-lifebuoy"></i>
                                            <p>Discord Roles & Channels<p>
                                        </li>
                                        <li>
                                            <i class="mdi mdi-history"></i>
                                            <p>Early Access</p>
                                        </li>
                                    </ul>
                                    <div class="text-center mt-5">
                                        <a href="https://www.patreon.com/join/corehorizons/checkout?rid=6133110" target="_blank" class="btn btn-primary">Support Us Now!</a>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div> <!-- end col-xl-10 -->

                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </section>
        <!-- support end -->

        <!-- features start -->
        <section class="section">
            <div class="container-fluid">

                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mb-4 pb-1">
                            <h3>Why Should you Play with Us?</h3>
                            <p class="text-muted">Here at Horizons we respect our players & try our best to make sure you're always happy. We make sure the servers are always running smoothly & implement new features all the time.</p>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="feature-img">
                            <img src="/assets_landing/images/features-img/img-2.png" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5 features-content">
                            <div class="features-icon mb-4">
                                <i class="mdi mdi-heart h4 text-white text-center"></i>
                            </div>
                            <h3 class="mb-3">It's designed with love to make you happy!</h3>
                            <p class="text-muted mb-4">
                                We put our heart into developing this community, we have build it together from the ground up without even getting paid since 2019.
                            </p>
                            <a href="/discord" target="_blank" class="btn btn-primary btn-sm">Learn More <i class="mdi mdi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row align-items-center mt-5">
                    <div class="col-lg-6">
                        <div class="p-5 features-content">
                            <div class="features-icon mb-4">
                                <i class="mdi mdi-auto-fix h4 text-white text-center"></i>
                            </div>
                            <h3 class="mb-3">Explore a new world of creativity</h3>
                            <p class="text-muted mb-4">
                                Everyone in Horizons loves to create, it's why we exist, to give you a place to let your mind run free, to create. We love admiring your creations so make sure to send pictures of them in our Discord :)
                            </p>
                            <a href="/discord" target="_blank" class="btn btn-primary btn-sm">Learn More <i class="mdi mdi-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="feature-img">
                            <img src="/assets_landing/images/features-img/img-1.png" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </section>
        <!-- features end -->

        <!-- contact start -->
        <section class="section pb-0 bg-gradient" id="contact">
            <div class="bg-shape">
                <img src="/assets_landing/images/bg-shape-light.png" alt="" class="img-fluid mx-auto d-block">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title text-center mb-4">
                            <h3 class="text-white">Have any Questions ?</h3>
                            <p class="text-white-50" hidden>Please fill out the following form and we will get back to you shortly</p>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                <div class="row mb-4">
                    <div class="col-lg-4">
                        <div class="contact-content text-center mt-4">
                            <div class="contact-icon mb-2">
                                <i class="mdi mdi-email-outline text-info h2"></i>
                            </div>
                            <div class="contact-details text-white">
                                <h5 class="text-white">E-mail</h5>
                                <p class="text-white-50">Please use the form below</p>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-4">
                        <div class="contact-content text-center mt-4">
                            <div class="contact-icon mb-2">
                                <i class="mdi mdi-discord text-info h2"></i>
                            </div>
                            <div class="contact-details">
                                <h5 class="text-white">Discord</h5>
                                <p class="text-white-50">discord.gg/horizons</p>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-4">
                        <div class="contact-content text-center mt-4">
                            <div class="contact-icon mb-2">
                                <i class="mdi mdi-map text-info h2"></i>
                            </div>
                            <div class="contact-details">
                                <h5 class="text-white">Location</h5>
                                <p class="text-white-50">Queensland, Australia</p>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row justify-content-center">
                    <div class="col-lg-10">

                        <div class="custom-form p-5 bg-white">
                            <div id="message"></div>
                            <form method="post" action="php/contact.php" name="contact-form" id="contact-form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input name="name" id="name" type="text" class="form-control" placeholder="Enter your name...">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="email">Email address</label>
                                            <input name="email" id="email" type="email" class="form-control" placeholder="Enter your email...">
                                        </div>
                                    </div>
                                </div>
                                <!-- end row -->

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="subject">Subject</label>
                                            <input name="subject" id="subject" type="text" class="form-control" placeholder="Enter Subject...">
                                        </div>
                                    </div>
                                </div>
                                <!-- end row -->

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="comments">Message</label>
                                            <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Enter your message..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- end row -->

                                <div class="row">
                                    <div class="col-lg-12 text-right">
                                        <input type="submit" id="submit" name="send" class="submitBnt btn btn-danger" value="Send Message">
                                        <div id="simple-msg"></div>
                                    </div>
                                </div>
                                <!-- end row -->
                            </form>
                        </div>
                        <!-- end custom-form -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </section>
        <!-- contact end -->

        <!-- cta start -->
        <section class="section-sm bg-light">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-md-right">
                            <a hidden href="#" class="btn btn-outline-dark btn-rounded"><i class="mdi mdi-email-outline mr-1"></i> Contact Us</a>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </section>
        <!-- cta end -->

        <!-- footer start -->
        <footer class="bg-dark footer">
            <div class="container-fluid">
                <div class="row mb-5">
                    <div class="col-lg-4">
                        <div class="pr-lg-4">
                            <div class="mb-4">
                                <img src="/assets_landing/images/logo-light.png" alt="" height="20">
                            </div>
                            <p class="text-white-50">This website was created by <a href="member?id=240786290600181761" class="text-white-50 font-weight-bold">Jess</a> & <a href="member?id=226230010132824066" class="text-white-50 font-weight-bold">Maddy</a></p>
                        </div>
                    </div>
                    
                    <div class="col-lg-2">
                        <div class="footer-list">
                            <p class="text-white mb-2 footer-list-title">About</p>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="mdi mdi-chevron-right mr-2"></i>Home</a></li>
                                <li><a href="#"><i class="mdi mdi-chevron-right mr-2"></i>Features</a></li>
                                <li><a href="#"><i class="mdi mdi-chevron-right mr-2"></i>Faq</a></li>
                                <li><a href="#"><i class="mdi mdi-chevron-right mr-2"></i>Clients</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="footer-list">
                            <p class="text-white mb-2 footer-list-title">Social</p>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="mdi mdi-chevron-right mr-2"></i>Facebook </a></li>
                                <li><a href="#"><i class="mdi mdi-chevron-right mr-2"></i>Twitter</a></li>
                                <li><a href="#"><i class="mdi mdi-chevron-right mr-2"></i>Behance</a></li>
                                <li><a href="#"><i class="mdi mdi-chevron-right mr-2"></i>Dribble</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="footer-list">
                            <p class="text-white mb-2 footer-list-title">Support</p>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="mdi mdi-chevron-right mr-2"></i>Help & Support</a></li>
                                <li><a href="#"><i class="mdi mdi-chevron-right mr-2"></i>Privacy Policy</a></li>
                                <li><a href="#"><i class="mdi mdi-chevron-right mr-2"></i>Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-2">
                        <div class="footer-list">
                            <p class="text-white mb-2 footer-list-title">More Info</p>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="mdi mdi-chevron-right mr-2"></i>Pricing</a></li>
                                <li><a href="#"><i class="mdi mdi-chevron-right mr-2"></i>For Marketing</a></li>
                                <li><a href="#"><i class="mdi mdi-chevron-right mr-2"></i>For Agencies</a></li>
                                <li><a href="#"><i class="mdi mdi-chevron-right mr-2"></i>Our Apps</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="float-left pull-none">
                            <p class="text-white-50">2019 - <script>document.write(new Date().getFullYear())</script> © Horizons </p>
                        </div>
                        <div class="float-right pull-none">
                            <ul class="list-inline social-links">
                                <li class="list-inline-item text-white-50">
                                    Social :
                                </li>
                                <li class="list-inline-item"><a href="https://www.facebook.com/corehorizons"><i class="mdi mdi-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.youtube.com/watch?v=iik25wqIuFo"><i class="mdi mdi-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- container-fluid -->
        </footer>
        <!-- footer end -->
        
        <!-- Back to top -->    
        <a href="#" class="back-to-top" id="back-to-top"> <i class="mdi mdi-chevron-up"> </i> </a>


        <%- include('./modals') %>


        <!-- javascript -->
        <script src="/assets_landing/js/jquery.min.js"></script>
        <script src="/assets_landing/js/bootstrap.bundle.min.js"></script>
        <script src="/assets_landing/js/jquery.easing.min.js"></script>
        <script src="/assets_landing/js/scrollspy.min.js"></script>

        <!-- custom js -->
        <script src="/assets_landing/js/app.js"></script>
    </body>

</html>