<!-- Global Modals Start -->
<!-- Success Alert Modal -->
<div id="success-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-success">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-checkmark h1 text-white"></i>
                    <h4 class="mt-2 text-white">Well Done!</h4>
                    <p class="mt-3 text-white">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                    <button type="button" class="btn btn-light my-2" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Info Alert Modal -->
<div id="info-indev-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-information h1 text-info"></i>
                    <h4 class="mt-2">This Feature is Currently Under Development.</h4>
                    <p class="mt-3">Hey there, we're still developing this feature, apologies for any inconvinience this may cause.</p>
                    <button type="button" class="btn btn-info my-2" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Warning Alert Modal -->
<div id="warning-experimental-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-warning h1 text-warning"></i>
                    <h4 class="mt-2">Experimental Feature</h4>
                    <p class="mt-3">This feature is still in development but you may use it at your own risk.<br>If you encounter any bugs or errors, you may report them in our <a href="https://discord.gg/ThSUBwu" target="_blank" class="text-white-50 font-weight-bold">Discord.</a></p>
                    <button type="button" class="btn btn-warning my-2" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Missing Info Alert Modal -->
<div id="missing-info-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-danger">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-wrong h1 text-white"></i>
                    <h4 class="mt-2 text-white">Temporarily Disabled</h4>
                    <p class="mt-3 text-white">We have Temporarily Disabled this feature to allow further development to other aspects of our site.</p>
                    <button type="button" class="btn btn-light my-2" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<!-- Standard modal content -->
<div id="standard-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Dashboard Notice</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h6>Logging in with Discord</h6>
                <p>• Username & Avatar is used for your Horizons Account</p>
                <p>• Your Email is Linked for Security & Auth Purpuses only & will <strong>not</strong> be shared with anyone</p>
                <p>• If you want to use our Dashboard with your Discord account then you are required to be in our Discord Server, if you decide to bypass this system then your account will be blacklisted</p>
                <hr>
                <h6>Logging in as a Guest</h6>
                <p>• By logging in as a Guest, you will have limited access to our website as most features will require a Discord Account</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal" onclick="window.location.href='/dashboard'">Continue as Guest</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='/account'">Login with Discord</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Join Discord Modal -->
<div id="join-discord-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Join Our Discord!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                <h5 class="mt-3 text-white">Looking for Support?</h5>
                <p>If you need help on our servers, our dedicated staff will assist you in our discord, click "Join" below to get help!</p>
                </div>
                <div class="modal-footer">
                <button  type="button" class="btn bootstrap-modern-dark" data-dismiss="modal">No Thanks</button>
                <button type="button" class="btn btn-blue" data-dismiss="modal" onclick="window.open('/discord')" >Join Now!</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% if (locals.username) { %>
<!-- Member Modals -->

<!-- SE Success -->
<div id="success-se-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-success">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-checkmark h1 text-white"></i>
                    <h4 class="mt-2 text-white">Success!</h4>
                    <p class="mt-3 text-white">Your suggestion has been submitted and will now be displayed in the Suggestions channel under Gaming in our Discord.</p>
                    <button type="button" class="btn btn-light my-2" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Suggestions Missing Info -->
<div id="missing-info-se-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-danger">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-wrong h1 text-white"></i>
                    <h4 class="mt-2 text-white">Invalid or Missing Info!</h4>
                    <p class="mt-3 text-white">Please double check all the fields to make sure everything is valid.<br><br>The URL must be valid.</p>
                    <button type="button" class="btn btn-light my-2" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Suggestions Modal -->
<div id="se-mod-suggestion-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mod Suggestions</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-4">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="field-1" class="control-label">Mod Name</label>
                            <input type="text" class="form-control" id="se-title" placeholder="Epic Lightsaber Combat Mod">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-3" class="control-label">Workshop URL</label>
                            <input type="text" class="form-control" id="se-url" placeholder="https://steamcommunity.com/workshop/filedetails/">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label for="field-7" class="control-label">Why should we add this mod?</label>
                            <textarea class="form-control" id="se-description" placeholder="Write something about the mod" rows="10"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <script>
                    const seModSubmit = () => {
                        const seTitle = document.getElementById("se-title").value;
                        const seURL = document.getElementById("se-url").value;
                        const seDescription = document.getElementById("se-description").value;

                        if (seTitle === "" || seURL === "" || seDescription === "") {
                            document.getElementById("cancel-suggestion").click()
                            document.getElementById("se-submit-error").click()
                            return
                        }

                        try { new URL(seURL) }
                        catch (e) {
                            document.getElementById("cancel-suggestion").click()
                            document.getElementById("se-submit-error").click()
                            return
                        }

                        postRequest()

                        function postRequest() {
                            console.log("Post Made")
                            var http = new XMLHttpRequest();
                            http.onreadystatechange = () => {
                                if (http.readyState !== 4) return; //response not received yet
                                if (http.state !== 200) return; //response received but it failed
                            }
                            http.open("POST", "/submit/se", true)
                            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                            http.send(`seTitle=${encodeURIComponent(seTitle)}&seURL=${encodeURIComponent(seURL)}&seDescription=${encodeURIComponent(seDescription)}`);

                            document.getElementById("cancel-suggestion").click()
                            document.getElementById("se-submit-success").click()
                        }
                    }
                </script>

                <button hidden type="button" id="se-submit-success" data-toggle="modal" data-target="#success-se-modal"></button>
                <button hidden type="button" id="se-submit-error" data-toggle="modal" data-target="#missing-info-se-modal"></button>

                <button type="button" id="cancel-suggestion" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info waves-effect waves-light" onclick="javascript: seModSubmit()">Submit Suggestion</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->




<!-- Staff Success -->
<div id="success-staff-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-success">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-checkmark h1 text-white"></i>
                    <h4 class="mt-2 text-white">Success!</h4>
                    <p class="mt-3 text-white">Your Staff Application has been submitted to the recruitment team, you will now have access to the interview channel in our discord!</p>
                    <button type="button" class="btn btn-light my-2" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Staff Missing Info -->
<div id="missing-info-staff-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-danger">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-wrong h1 text-white"></i>
                    <h4 class="mt-2 text-white">Invalid or Missing Info!</h4>
                    <p class="mt-3 text-white">Please double check all the fields to make sure everything is valid.</p>
                    <button type="button" class="btn btn-light my-2" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Staff App Modal -->
<div id="staff-app-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Staff Application</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-4">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="field-1" class="control-label">Email</label>
                            <input type="text" class="form-control" id="user-email" value="<%= email %>" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-3" class="control-label">Discord</label>
                            <input type="text" class="form-control" id="user-discord" value="<%= username %>#<%= discriminator %>" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-3" class="control-label">What position are you interested in?</label>
                            <input type="text" class="form-control" id="user-position" placeholder="SE Mod, Discord Mod, Developer" maxlength="60">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label for="field-7" class="control-label">Why do you want to become a Staff Member?</label>
                            <textarea class="form-control" id="user-reason" placeholder="Give us a brief reason on why you would like to become a Staff Member (1000 Characters)" rows="10" maxlength="1000"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <script>
                    const staffAppSubmit = () => {
                        const position = document.getElementById("user-position").value
                        const reason = document.getElementById("user-reason").value

                        if (position === "" || reason === "") {
                            document.getElementById("cancel-staff-app").click()
                            document.getElementById("staff-submit-error").click()
                            return
                        }

                        var http = new XMLHttpRequest();
                        http.onreadystatechange = () => {
                            if (http.readyState !== 4) return; //response not received yet
                            if (http.state !== 200) return; //response received but it failed
                        }
                        http.open("POST", "/submit/staff-app", true)
                        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        http.send(`position=${encodeURIComponent(position)}&reason=${encodeURIComponent(reason)}`);

                        document.getElementById("cancel-staff-app").click()
                        document.getElementById("staff-submit-success").click()

                    }
                </script>

                <button hidden type="button" id="staff-submit-success" data-toggle="modal" data-target="#success-staff-modal"></button>
                <button hidden type="button" id="staff-submit-error" data-toggle="modal" data-target="#missing-info-staff-modal"></button>

                <button type="button" id="cancel-staff-app" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info waves-effect waves-light" onclick="javascript: staffAppSubmit()">Submit Application</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->



<!-- Twitch Success -->
<div id="success-twitch-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-success">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-checkmark h1 text-white"></i>
                    <h4 class="mt-2 text-white">Success!</h4>
                    <p class="mt-3 text-white">Your Staff Application has been submitted to the recruitment team, you will now have access to the interview channel in our discord!</p>
                    <button type="button" class="btn btn-light my-2" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Twitch Missing Info -->
<div id="missing-info-twitch-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-danger">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-wrong h1 text-white"></i>
                    <h4 class="mt-2 text-white">Invalid or Missing Info!</h4>
                    <p class="mt-3 text-white">Please double check all the fields to make sure everything is valid.</p>
                    <button type="button" class="btn btn-light my-2" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Twitch App Modal -->
<div id="twitch-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Twitch Application</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-4">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="field-1" class="control-label">Email</label>
                            <input type="text" class="form-control" id="twitch-email" value="<%= email %>" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-3" class="control-label">Discord</label>
                            <input type="text" class="form-control" id="twitch-discord" value="<%= username %>#<%= discriminator %>" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-3" class="control-label">Twitch Channel Name/Link</label>
                            <input type="text" class="form-control" id="twitch-channel" placeholder="https://twitch.tv/mycoolchannel" maxlength="60">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label for="field-7" class="control-label">Why should we add you to our Twitch Role?</label>
                            <textarea class="form-control" id="twitch-reason" placeholder="Give us a brief reason on why we should add you to our Twitch Role (1000 Characters)" rows="10" maxlength="1000"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <script>
                    const twitchAppSubmit = () => {
                        const channel = document.getElementById("twitch-channel").value
                        const reason = document.getElementById("twitch-reason").value

                        if (channel === "" || reason === "") {
                            document.getElementById("cancel-twitch-app").click()
                            document.getElementById("twitch-submit-error").click()
                            return
                        }

                        var http = new XMLHttpRequest();
                        http.onreadystatechange = () => {
                            if (http.readyState !== 4) return; //response not received yet
                            if (http.state !== 200) return; //response received but it failed
                        }
                        http.open("POST", "/submit/twitch-app", true)
                        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        http.send(`channel=${encodeURIComponent(channel)}&reason=${encodeURIComponent(reason)}`);

                        document.getElementById("cancel-twitch-app").click()
                        document.getElementById("twitch-submit-success").click()

                    }
                </script>

                <button hidden type="button" id="twitch-submit-success" data-toggle="modal" data-target="#success-twitch-modal"></button>
                <button hidden type="button" id="twitch-submit-error" data-toggle="modal" data-target="#missing-info-twitch-modal"></button>

                <button type="button" id="cancel-twitch-app" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info waves-effect waves-light" onclick="javascript: twitchAppSubmit()">Submit Application</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->



<!-- Form Success -->
<div id="success-form-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-success">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-checkmark h1 text-white"></i>
                    <h4 class="mt-2 text-white">Success!</h4>
                    <p class="mt-3 text-white">Your form has been submitted!</p>
                    <button type="button" class="btn btn-light my-2" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Form Missing Info -->
<div id="missing-info-form-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-danger">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-wrong h1 text-white"></i>
                    <h4 class="mt-2 text-white">Invalid or Missing Info!</h4>
                    <p class="mt-3 text-white">Please double check all the fields to make sure everything is valid.</p>
                    <button type="button" class="btn btn-light my-2" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Activity Report Modal -->
<div id="activityReport-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Activity Report</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-4">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="field-1" class="control-label">Field</label>
                            <input type="text" class="form-control" id="activity-field" placeholder="Space Engineers, Eco, Discord">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-3" class="control-label">Subject</label>
                            <input type="text" class="form-control" id="activity-subject" placeholder="Restored Players Grid, Purged spam messages from [Member]">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label for="field-7" class="control-label">Description</label>
                            <textarea class="form-control" id="activity-description" placeholder="Brief Description on the activity (500 Characters)" rows="10" maxlength="500"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel-activityReport-app" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info waves-effect waves-light" onclick="javascript: activityReportSubmit()">Submit Form</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->

<!-- Incident Report Modal -->
<div id="incidentReport-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Incident Report</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-4">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="field-1" class="control-label">Who are you Reporting?</label>
                            <input type="text" class="form-control" id="incident-player" placeholder="DiscordName#0000 / PlayerName + Game">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label for="field-7" class="control-label">Description</label>
                            <textarea class="form-control" id="incident-description" placeholder="Brief Description on the Incident (500 Characters)" rows="10" maxlength="500"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel-incidentReport-app" class="btn btn-secondary waves-effect" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info waves-effect waves-light" onclick="javascript: incidentReportSubmit()">Submit Form</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->

<button hidden type="button" id="form-submit-success" data-toggle="modal" data-target="#success-form-modal"></button>
<button hidden type="button" id="form-submit-error" data-toggle="modal" data-target="#missing-info-form-modal"></button>

<script>
    const activityReportSubmit = () => {
        const field = document.getElementById("activity-field").value
        const subject = document.getElementById("activity-subject").value
        const description = document.getElementById("activity-description").value

        if (field === "" || subject === "" || description === "") {
            document.getElementById("cancel-activityReport-app").click()
            document.getElementById("form-submit-error").click()
            return
        }

        var http = new XMLHttpRequest();
        http.onreadystatechange = () => {
            if (http.readyState !== 4) return; //response not received yet
            if (http.state !== 200) return; //response received but it failed
        }
        http.open("POST", "/submit/form/activity", true)
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        http.send(`field=${encodeURIComponent(field)}&subject=${encodeURIComponent(subject)}&description=${encodeURIComponent(description)}`);

        document.getElementById("cancel-activityReport-app").click()
        document.getElementById("form-submit-success").click()
    }

    const incidentReportSubmit = () => {
        const player = document.getElementById("incident-player").value
        const description = document.getElementById("incident-description").value

        if (player === "" || description === "") {
            document.getElementById("cancel-incidentReport-app").click()
            document.getElementById("form-submit-error").click()
            return
        }

        var http = new XMLHttpRequest();
        http.onreadystatechange = () => {
            if (http.readyState !== 4) return; //response not received yet
            if (http.state !== 200) return; //response received but it failed
        }
        http.open("POST", "/submit/form/incident", true)
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        http.send(`player=${encodeURIComponent(player)}&description=${encodeURIComponent(description)}`);

        document.getElementById("cancel-incidentReport-app").click()
        document.getElementById("form-submit-success").click()
    }
</script>

<% } %>

<!-- Global Modals End -->