<body class="loading" data-layout-mode="two-column" data-layout='{"mode": "<%= locals.user ? locals.user.display.theme : "dark" %>", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false}, "topbar": {"color": "<%= locals.user ? locals.user.display.theme : "dark" %>"}, "showRightSidebarOnPageLoad": false}'></body>


<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="h-100" >

        <div class="sidebar-content">
            <div class="sidebar-icon-menu h-100" data-simplebar>
                <!-- LOGO -->
                <a href="/dashboard" class="logo">
                    <span>
                        <img src="../assets/images/logo-sm-white.png" alt="" height="30">
                    </span>
                </a>
                <nav class="nav flex-column" id="two-col-sidenav-main">

                    <a id="tab-home" class="nav-link active" href="#home" data-toggle="tooltip" data-placement="right" title="Home" data-trigger="hover">
                        <i data-feather="home"></i>
                    </a>

                    <a id="tab-games" class="nav-link" href="#games" data-toggle="tooltip" data-placement="right" title="Games" data-trigger="hover">
                        <i data-feather="aperture"></i>
                    </a>

                    <% if (locals.roles.map(role => role.name).includes('Staff')) { %>
                    <a id="tab-admin" class="nav-link" href="#moderation" data-toggle="tooltip" data-placement="right" title="Moderation" data-trigger="hover">
                        <i data-feather="sliders"></i>
                    </a>
                    <% } %>

                    <% if (locals.roles.map(role => role.name).includes('Management')) { %>
                    <a id="tab-management" class="nav-link" href="#admin" data-toggle="tooltip" data-placement="right" title="Administration" data-trigger="hover">
                        <i data-feather="server"></i>
                    </a>
                    <% } %>

                </nav>
            </div>

            <!--- Sidemenu -->
            <div class="sidebar-main-menu" style="padding: 15px 5px">

                <% if (locals.user) { %>
                    <div class="text-center" style="margin-bottom: 2rem;">
                        <a href="/account"><img src="<%= locals.avatar %>" alt="user-img" class="rounded-circle avatar avatar-md"></a>
                        <div class="dropdown">
                            <a href="/account" class="text-dark font-weight-normal dropdown-toggle h5 mt-2 mb-1 d-block"><%= locals.user.display.name %></a>
                        </div>
                        <p style="color: #<%= locals.roles[0].color.toString(16) %>"><%= locals.roles[0].name || 'Member' %></p>
                    </div>
                <% } %>


                <div id="two-col-menu" class="h-100" data-simplebar>
                    
                    <div class="twocolumn-menu-item d-block" id="home">
                        <div class="title-box">
                            <h5 class="menu-title">Home</h5>
                            <ul class="nav flex-column">

                                <li class="nav-item">
                                    <a class="nav-link" href="/dashboard">
                                        <i class="mdi mdi-view-dashboard"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/members">
                                        <i class="mdi mdi-account-multiple"></i>
                                        <span>Members</span>
                                    </a>
                                </li>

                                <% if (locals.user) { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="/account">
                                        <i class="mdi mdi-card-account-details"></i>
                                        <span>Account</span>
                                    </a>
                                </li>
                                <% } %>

                            </ul>
                        </div>
                    </div>

                    <div class="twocolumn-menu-item d-block" id="games">
                        <div class="title-box">
                            <h5 class="menu-title">Games</h5>
                            <ul class="nav flex-column">

                                <li class="nav-item">
                                    <a class="nav-link" href="/space-engineers">
                                        <i class="mdi mdi-google-controller"></i>
                                        <span>Space Engineers</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/rust">
                                        <i class="mdi mdi-google-controller"></i>
                                        <span>Rust</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/squad">
                                        <i class="mdi mdi-google-controller"></i>
                                        <span>Squad</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/eco">
                                        <i class="mdi mdi-google-controller"></i>
                                        <span>Eco</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/minecraft">
                                        <i class="mdi mdi-google-controller"></i>
                                        <span>Minecraft</span>
                                    </a>
                                </li>
                            
                            </ul>
                        </div>
                    </div>

                    <% if (locals.roles.map(role => role.name).includes('Staff')) { %>
                        <div class="twocolumn-menu-item d-block" id="moderation">
                            <div class="title-box">
                                <h5 class="menu-title">Moderation</h5>
                                <ul class="nav flex-column">

                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/dashboard">
                                            <i class="mdi mdi-view-dashboard"></i>
                                            <span>Dashboard</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/tickets">
                                            <i class="mdi mdi-format-list-checks"></i>
                                            <span>Tickets</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/admin/warnings">
                                            <i class="mdi mdi-badge-account-alert"></i>
                                            <span>Warnings</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    <% } %>

                    <% if (locals.roles.map(role => role.name).includes('Management')) { %>
                        <div class="twocolumn-menu-item d-block" id="admin">
                            <div class="title-box">
                                <h5 class="menu-title">Administration</h5>
                                <ul class="nav flex-column">

                                    <li class="nav-item">
                                        <a class="nav-link" href="/management/systems">
                                            <i class="mdi mdi-view-dashboard"></i>
                                            <span>Systems</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    <% } %>


                </div>

            </div>
            <div class="clearfix"></div>
        </div>
        <!-- End Sidebar -->

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->



<script>

    $(document).ready(() => {
        if ($('.simplebar-content').toArray().length > 1) {

            var path = window.location.pathname.split('/')
            console.log(path)

            if (path[1] === 'admin') $('#tab-admin').click()
            if (path[1] === 'member') $('#tab-home').click()

        }
    })

    //window.location.pathname

</script>