<body class="loading" data-layout-mode="detached" data-layout='{"mode": "<%= locals.user ? locals.user.display.theme : "dark" %>", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": true}, "topbar": {"color": "<%= locals.user ? locals.user.display.theme : "dark" %>"}, "showRightSidebarOnPageLoad": false}'>

<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="h-100" data-simplebar>

        <% if (locals.user) { %>
        <!-- User box -->
        <div class="user-box text-center">
            <a href="/account"><img src="<%= locals.avatar %>" alt="user-img" class="rounded-circle avatar avatar-md"></a>
            <div class="dropdown">
                <a href="/account" class="text-dark font-weight-normal dropdown-toggle h5 mt-2 mb-1 d-block"><%= locals.user.display.name %></a>
            </div>
            <p style="color: #<%= locals.roles[0].color.toString(16) %>"><%= locals.roles[0].name || 'Member' %></p>
        </div>
        <% } %>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">

                <li class="menu-title">Home</li>
                <li>
                    <a href="/dashboard">
                        <i data-feather="airplay"></i>
                        <span> Dashboard </span>
                    </a>
                </li>
                <li>
                    <a href="/members">
                        <i data-feather="users"></i>
                        <span> Members </span>
                    </a>
                </li>
                <li>
                    <a href="/trade">
                        <i data-feather="aperture"></i>
                        <span> Trade Center </span>
                    </a>
                </li>
                <li hidden>
                    <a href="/software">
                        <i data-feather="codesandbox"></i>
                        <span> Software </span>
                    </a>
                </li>


                <li class="menu-title">Forms</li>
                <li>
                    <a href="#sidebarApplications" data-toggle="collapse">
                        <i data-feather="check-square"></i>
                        <span class="badge badge-success badge-pill float-right">2</span>
                        <span> Applications </span>
                    </a>
                    <div class="collapse" id="sidebarApplications">
                        <ul class="nav-second-level">
                            <li>
                                <a href="<% if (!locals.user) { %>/login<% } %>#" <% if (locals.user) { %>data-toggle="modal" data-target="#staff-app-modal"<% } %>>Staff Application</a>
                            </li>
                            <li>
                                <a href="<% if (!locals.user) { %>/login<% } %>#" <% if (locals.user) { %>data-toggle="modal" data-target="#twitch-modal"<% } %>>Twitch Application</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#missing-info-alert-modal" hidden>
                        <i data-feather="inbox"></i>
                        <span> Suggestions </span>
                    </a>
                </li>


                <li class="menu-title">Documentation</li>
                <li>
                    <a href="/documents/se">
                        <i data-feather="file-text"></i>
                        <span> Space Engineers </span>
                    </a>
                </li>
                <li>
                    <a hidden href="/documents/eco">
                        <i data-feather="file-text"></i>
                        <span> Eco </span>
                    </a>
                </li>
                <% if (locals.userData) { if (locals.userData.staff.is_staff) { %>
                <li>
                    <a href="/network">
                        <i data-feather="file-text"></i>
                        <span> Network </span>
                    </a>
                </li>
                <% }} %> 

                <li hidden class="menu-title">Staff</li>
                <li hidden>
                    <a href="/api">
                        <i data-feather="cpu"></i>
                        <span> API </span>
                    </a>
                </li>
                    
                    


            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->

<%- include('modals') %>