<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Squad | Horizons</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Horizons Squad Server Rules & Details"/>
        <meta name="theme-color" content="#fcb603">
        <meta name="keywords" content="Horizons, Squad, Australia">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="../assets/images/favicon.ico">

	    <%- include('../css') %>

	    <!-- icons -->
	    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />

    </head>

        <!-- Begin page -->
        <div id="wrapper">

            <%- include('../header') %>
            <%- include('../sidebar') %>

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="/">Horizons</a></li>
                                            <li class="breadcrumb-item active">Squad</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Squad</h4>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 

                        <div class="row">
                            <div class="col-xl-3 col-lg-6 order-lg-1 order-xl-1">
                                <!-- start profile info -->
                                <div class="card">
                                    <div class="card-body">

                                        <div class="media">
                                            <div class="media-body pl-1">
                                                <h5 class="mt-1 mb-0">Pages</h5>
                                            </div>
                                        </div>

                                        <div class="list-group list-group-flush mt-2 font-15">
                                            <a href="?" class="list-group-item list-group-item-action <% if (!page) { %>text-primary font-weight-medium<% } %> border-0"><i class='mdi mdi-image-filter-black-white font-16 mr-1'></i> Overview</a>
                                            <a href="?page=bans" class="list-group-item list-group-item-action <% if (page === 'bans') { %>text-primary font-weight-medium<% } %> border-0"><i class="fas fa-vote-yea mr-1"></i> Bans</a>
                                        </div>

                                    </div>
                                </div>
                                <!-- end profile info -->

                            </div> <!-- end col -->

                            <div class="col-xl-6 col-lg-12 order-lg-2 order-xl-1">

                                <% if (!page) { %>
                                <!-- Story Box -->            
                                <div class="card-box">
                                    <h3>General Rules</h3>
                                    <ul>
                                        <li>Players must be actively playing the objectives and in a squad.</li>
                                            <ul>Unarmed role use is not permitted.</ul>
                                        <li>Ghosting is not allowed</li>
                                        <li>Harming the team by using team assets  by sabotaging, misplacing, abandoning and/or for personal use is not allowed.</li>
                                        <li>Helicopter ramming and tapping is considered harming the team.</li>
                                        <li>2 crew members are required for MBTs, APCs, and IFVs.</li>
                                        <li>Infantry squads can not use the crewman kit.</li>
                                        <li>Spawn camping enemy main base is not allowed.</li>
                                        <li>Squad leaders must use the Squad Leader kit or appropriate vehicle kit.</li>
                                        <li>Squad leaders must use a Microphone and not make squads without having the intent of leading.</li>
                                    </ul>
                                    <h3>Seeding Rules (40 Players or Less / Admin Calls of Seeding)</h3>
                                    <ul>
                                        <li>Fighting must occur over the center objective.</li>
                                        <li>FOBs must be placed a minimum 100m away from the objective.</li>
                                            <ul>FOBs will be dug down if placed within 150m.</ul>
                                        <li>Camping Enemy FOBs are not permitted in seeding phase.</li>
                                        <li>Emplacements are forbidden in seeding phase.</li>
                                        <li>Transport and Logistic vehicles are the only allowed vehicles to be used.</li>
                                    </ul>
                                    <h3>Vehicle Priority Rules</h3>
                                    <ul>
                                        <li>Squads that have the name of the specific vehicle (HELI, MBT, IFV) or vehicle name (Freebrams, BMP) in their name will have priority access to the vehicle, Squads with the same identifier will be prioritised by Squad Number.</li>
                                        <li>Squads will only have a maximum of 1 armored vic per squad at a time.</li>
                                    </ul>
                                </div>
                                <% } %>

                                <% if (page === 'bans') { %>
                                    <!-- Story Box-->
                                    <div class="card-box">
                                        <h3>Bans</h3>
                                        <h4>Horizons has not made any bans as of yet.</h4>
                                    </div>
                                <% } %>

                            </div>

                            <div class="col-xl-3 col-lg-6 order-lg-1 order-xl-2">
                                <!-- Stats -->
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-1">Server Statistics</h4>

                                        <div class="media mt-3">
                                            <i class='mdi mdi-trending-up mr-2 font-18 text-primary'></i>
                                            <div class="media-body">
                                                <a class="mt-1 font-14 text-reset" id="server1Stats">
                                                    <strong class="font-weight-medium">
                                                        <div class="d-flex align-items-center">
                                                            <strong>Loading...</strong>
                                                            <div style="width: 1.5rem; height: 1.5rem;" class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                                                        </div>
                                                    </strong>
                                                    <span class="text-muted">
                                                        
                                                    </span>
                                                </a>
                                            </div>
                                        </div>

                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->

                                <script>
                                    async function refreshStats() { 
                                        var data = await fetch('<%= locals.site.discord %>/game/squad').then(res => res.json())

                                        if (data.players) {
                                            server1Stats.innerHTML = `<strong class="font-weight-medium" style="color: #07e80e;">Squad #1</strong><br><span class="text-muted">${data.players.length} / ${data.maxplayers} Player(s)</span>`
                                        } else server1Stats.innerHTML = `<strong class="font-weight-medium" style="color: red;">Squad #1</strong> <span class="text-muted">Offline</span>`

                                        setTimeout(refreshStats, 5000)
                                    }
                                    setTimeout(refreshStats, 2000)
                                </script>

                                <!-- end video -->
                            </div> <!-- end col -->
                        </div> <!--end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

                <%- include('../footer') %>

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <%- include('../settings') %>

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- Vendor js -->
        <script src="../assets/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="../assets/js/app.min.js"></script>
        
    </body>
</html>