<h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-account-circle mr-1"></i> Public Profile</h5>

<div class="row">
    <div class="col">
        <div class="form-group">
            <label>Display Name</label>
            <input account type="text" class="form-control" name="displayName" placeholder="Enter display name" value="<%= locals.user.display.name %>" maxlength="50">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="form-group mb-3">
            <label for="gender">Gender</label>
            <select account class="form-control" name="gender">
                <% if (locals.user.details.gender !=="" ) { %>
                    <option>
                        <%= locals.user.details.gender %>
                    </option>
                    <% } %>
                        <option disabled>---------</option>
                        <option>None</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
            </select>
        </div>
    </div>

    <div class="col-6">
        <div class="form-group">
            <label>Personality</label>
            <select account class="form-control" id="personality" name="personality" onclick="personalityEvent()">
                <% if (locals.user.details.personality !=="" ) { %>
                    <option>
                        <%= locals.user.details.personality %>
                    </option>
                    <% } %>
                        <option disabled>------------------------</option>
                        <option>None</option>
                        <option>INFP - The Healer</option>
                        <option>INTJ - The Mastermind</option>
                        <option>INFJ - The Counselor</option>
                        <option>INTP - The Architect</option>
                        <option>ENFP - The Champion</option>
                        <option>ENTJ - The Commander</option>
                        <option>ENTP - The Visionary</option>
                        <option>ENFJ - The Teacher</option>
                        <option>ISFJ - The Protector</option>
                        <option>ISFP - The Composer</option>
                        <option>ISTJ - The Inspector</option>
                        <option>ISTP - The Craftsperson</option>
                        <option>ESFJ - The Provider</option>
                        <option>ESFP - The Performer</option>
                        <option>ESTJ - The Supervisor</option>
                        <option>ESTP - The Dynamo</option>
            </select>
        </div>
    </div> <!-- end col -->
</div>
<div id="personalityDescriptionDiv">
    <label id="persionalityDescriptionLabel">N/A</label>
    <div class="form-control" style="height: fit-content; margin-bottom: 2rem;">
        <p id="personalityDescription" class="text-muted font-13" style="white-space: pre-line; margin-bottom: 0;">
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="bio">About Me</label>
            <textarea account name="bio" class="form-control" rows="4" placeholder="Write something..." maxlength="2000"><%= locals.user.details.bio %></textarea>
        </div>
    </div> 
</div>

<h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-brush mr-1"></i> Customization</h5>

<div class="row">
    <div class="col-lg-6">
        <div class="form-group mb-3">
            <label>Profile Color</label>
            <input account type="text" id="hexa-colorpicker" name="color" class="form-control"
                value="<%= locals.user.display.color %>">
        </div>
    </div>
</div>

<div class="text-right">
    <button class="btn btn-success waves-effect waves-light mt-2" type="button" onclick="save()"><i class="mdi mdi-content-save"></i> Save</button>
</div>